CmakeFiles/
plugins/
bin/
TryxPS/
releases/
build/

libhttp_parser.a
CMakeCache.txt 
cmake_install.cmake
MakeFile
TsukiBot.tags
tsukibot
tests/constants.o
tests/ircmessage.o
tests/ircmsg-file-test
tests/msg-test
tests/parse-test
tests/prefix-test
tests/libbasicplg.so

